body{
    background-color:aquamarine;
}
h1{
    
    text-align: center;
}

p {
    color: darkblue;
    font-family: sans-serif;
    border-style: dashed;
    border-color: orange;
    border-width: 5 px;
}

a {
    font-size: 10 px;
    color: purple;
}

img {
    height: 50%;
    width: 50%;
}

div{
    position:relative;
    left: 1000px;
    bottom: 300px;
}