h1 {
    font-family:"Wotfard",Futura,-apple-system,sans-serif;
    color:cadetblue;
}

h3 {
    color:royalblue;
    font-family:"Wotfard", Futura, -apple-system, sans-serif;
}

body {
    background-color:khaki !important;
}